</div>

<div class="container my-3 px-3">
    <div class="row centralizar">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xg-8 py-4 bg-white">
            <table class="table table-color table-striped table-hover">
                <thead>
                    <tr>
                        <th class="center">Título</th>
                        <th class="center">Obrigatório</th>
                        <th class="center">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Projeto</th>
                        <td>sim</td>
                        <td>sim</td>

                    </tr>
                    <tr>
                        <th scope="row">Funcionalidades</th>
                        <td>sim</td>
                        <td>sim</td>
                    </tr>
                    <tr>
                        <th scope="row">Inspiração</th>
                        <td>sim</td>
                        <td>sim</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<section>
        <a href="index.php">
            <button class="btn btn-success">Voltar</button>
        </a>
    </section>